* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    margin: 0 auto;
    background-color: #f1f3f4;
    max-width: 900px;
}

main {
    margin: 10px;
}


h1 {
    font-size: 3em;
    text-align: center;
    color: #79bac1;
}

.intro-text {
    color: #512b58;
    font-size: 1.25em;
    text-align: center;
}

.movie-form {
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 1fr;
    padding: 1.5vh;
}

.movie-form__input {
    grid-column: 1;
}

.movie-form__submit {
    grid-column: 2;
    border: none;
    background-color: black;
    color: white;
}


.section-movie-db {
    text-align: center;
    color: #512b58;
}

.section-movie-db__title {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    color:
}

.section-movie-db__date {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    font-style: italic;
}

.section-movie-db__poster {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    max-height: 25%;
}

.reddit-box {
    margin-top: 30px;
    text-align: center;
}

.a-class {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px 0;
    padding: 10px;
}

.footer-class {
    display: flex;
    justify-content: space-between;
}

/* .footer {
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
} */